

.navbar-color {
    background-color: #81E3BB;
}

.navbar-color nav div a div div a:hover {
    background-color: #555;
    border-radius: 8px;
}

.marginLeft {
    margin-left: 40px;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div a.boutons-menu{
    border-radius: 8px;
    color:#ffff;
    font-weight: bold;
}

div a.boutons-menu:hover{
    border-radius: 8px;
    background-color: #5ac69a;
    font-weight: bold;
}

#error-message {
    color: red;
    margin-top: 2em;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}